body { margin: 0; overflow: hidden; background: #000; }
.seo-hidden {
    position: absolute; /* uit de normale flow */
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap; /* voorkom breeklijnen */
}
